body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: right;
    padding: 10px;
}

.home-btn img {
    width: 30px;
    
    
}
.home-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}


main {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#answer {
    margin-bottom: 20px;
}

#user-answer {
    padding: 10px;
    margin-bottom: 20px;
}

#submit-answer,
#play-again {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}
